{% extends 'base.html' %}
{% load static from staticfiles %}
{% load countries %}

{% block head %}
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock head %}

{% block content %}
    <div class="section" id="historico">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h2>{% block champions_title %}{% endblock %}</h2>
                    <table class="table table-hover table-striped rank">
                        <thead>
                            <th class="text-right">#</th>
                            {% block champions_ths %}{% endblock %}
                            <th class="text-right table-warning img-raised">
                                1º
                                <img src="{% static "assets/img/medal/medal-1st_640.png" %}" class="img-responsive" style="max-height: 1rem">
                            </th>
                            <th class="text-right">
                                2º
                                <img src="{% static "assets/img/medal/medal-2nd_640.png" %}" class="img-responsive" style="max-height: 1rem">
                            </th>
                            <th class="text-right">
                                3º
                                <img src="{% static "assets/img/medal/medal-3rd_640.png" %}" class="img-responsive" style="max-height: 1rem">
                            </th>
                            <th class="text-right">
                                Total
                                <img src="{% static "assets/img/medal/medals-total_640.png" %}" class="img-responsive" style="max-height: 1rem">
                            </th>
                        </thead>
                        <tbody>
                            {% for champions in ranking_list %}
                                {% get_country champions.player__country as country %}
                                <tr>
                                    <td class="text-right"></td>
                                    {% block champions_tds %}{% endblock %}
                                    <td class="text-right table-warning img-raised">{{ champions.player_position_1st }}</td>
                                    <td class="text-right">{{ champions.player_position_2nd }}</td>
                                    <td class="text-right">{{ champions.player_position_3rd }}</td>
                                    <td class="text-right">{{ champions.player_position_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}