{% extends 'base.html' %}
{% load cloudinary %}

{% load static from staticfiles %}
{% block head %}
    <link href="{% static "galereya/css/jquery.galereya.css" %}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{% static "galereya/css/jquery.galereya.ie.css" %}">
    <![endif]-->

    <title>Fotos | Vivalviar Poker</title>
    <meta name="description" content="Nosso álbum de fotos de nossa história e de nossos torneios online e presenciais.">
    <meta name="keywords" content="poker, pokerstars, poker star, poker senhas, poker online, poker regras, poker gratis,
    como jogar poker, jogar poker, torneios de poker, quem joga poker, jogadores de poker, fotos de poker,
    imagens de poker, imagem de cartas, mesa de poker, vivalviar, vivalviarpoker, poker amador, poker profissional">
{% endblock head %}

{% block og %}
    <meta property="og:title" content="Fotos" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static "assets/img/logo.png" %}" />
    <meta property="og:description" content="Nosso álbum de fotos de nossa história e de nossos torneios online e presenciais." />
    <meta property="og:site_name" content="Vivalviar Poker" />
{% endblock og %}

{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@VivalviarPoker">
    <meta name="twitter:title" content="Fotos">
    <meta name="twitter:description" content="Nosso álbum de fotos de nossa história e de nossos torneios online e presenciais.">
    <meta name="twitter:creator" content="@VivalviarPoker">
    <meta name="twitter:image" content="{% static "assets/img/logo.png" %}">
    <meta name="twitter:domain" content="www.vivalviar.com.br">
{% endblock twitter %}

{% block script %}
    <script src="{% static "galereya/js/jquery.galereya.min.js" %}"></script>
    <script>
        $(function () {
            $('#galleryherepls').galereya({
                //spacing between cells of the masonry grid
                spacing: 10,

                //waving visual effect
                wave: true,

                //waving visual effect timeout duration
                waveTimeout: 1000,

                // special CSS modifier for the gallery
                modifier: '',

                //speed of the slide show
                slideShowSpeed: 6000,

                //speed of appearance of cells
                cellFadeInSpeed: 200,

                //set to true, if you don't want to show the slider on the cell click.
                disableSliderOnClick: true
            });
        });
    </script>
{% endblock script %}

{% block content %}
    <div class="section text-center" id="participacoes">
        <div class="container">
            <h2 class="title">Fotos</h2>
            <div class="photos profile-page">
                <div class="row collections">
                    <div id="galleryherepls">
                        {% for photo in photo_list %}
                            {% cloudinary photo.image THUMBNAIL_1080_1080 alt=photo.title class="img-fluid img-raised" title=photo.title %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}