{% extends 'base.html' %}

{% block head %}
    <title>Circuitos | Vivalviar Poker</title>
    <meta name="description" content="Ranking de todos os nossos campeões do Circuito 6-Max, Circuito Equipes, Circuito
    High Roller, Circuito Vivalviar e Freeroll Dimenor.">
    <meta name="keywords" content="poker, pokerstars, poker star, poker senhas, poker online, poker regras, poker gratis,
    como jogar poker, jogar poker, torneios de poker, quem joga poker, jogadores de poker, circuito, circuitos poker,
    circuito de poker, circuitos de poker, vivalviar, vivalviarpoker, poker amador, poker profissional">
{% endblock %}

{% block content %}
    <div class="section" id="historico">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h2>{{ object }}</h2>
                    <table class="table table-hover table-striped rank">
                        <thead>
                            <th class="text-right">#</th>
                            <th>Nome</th>
                            <th class="text-right table-active">Pontos</th>
                        </thead>
                        <tbody>
                        {% for player in object.players_list|dictsortreversed:'points' %}
                            <tr>
                                <td class="text-right"></td>
                                <td>{{ player.player__name }}</td>
                                <td class="text-right table-active">{{ player.points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if object.score_by_team %}
                    <div class="col-8">
                        <h2>{{ object }} - (Por Time)</h2>
                        <table class="table table-hover table-striped rank">
                            <thead>
                                <th class="text-right">#</th>
                                <th>Time</th>
                                <th class="text-right table-active">Pontos</th>
                            </thead>
                            <tbody>
                            {% for player in object.teams_list|dictsortreversed:'points' %}
                                {% if player.player__team__name %}
                                <tr>
                                    <td class="text-right"></td>
                                    <td>{{ player.player__team__name }}</td>
                                    <td class="text-right table-active">{{ player.points }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}