{% extends 'base.html' %}

{% block head %}
    <title>Circuitos | Vivalviar Poker</title>
    <meta name="description" content="Ranking de todos os nossos campeões do Circuito 6-Max, Circuito Equipes, Circuito
    High Roller, Circuito Vivalviar e Freeroll Dimenor.">
    <meta name="keywords" content="poker, pokerstars, poker star, poker senhas, poker online, poker regras, poker gratis,
    como jogar poker, jogar poker, torneios de poker, quem joga poker, jogadores de poker, circuito, circuitos poker,
    circuito de poker, circuitos de poker, vivalviar, vivalviarpoker, poker amador, poker profissional">
{% endblock %}

{% block content %}
    <div class="section" id="historico">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    {% for circuit in circuit_list %}
                        <a href="{% url 'circuit-detail' circuit.pk %}" class="alert-info">
                            <h2><i class="fa fa-info-circle"></i> {{ circuit }}</h2>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}